<dl class="my-2 font-sans font-bold text-sm text-color-secondary">
  {{ with index .Params.genre 0 -}}
    <div class="text-xl mb-1">
      <dt class="inline-block hidden">Genre</dt>
      <dd class="inline-block">{{- . | humanize -}}</dd>
    </div>
  {{- end }}

  {{ with .Params.publisher }}
    <div class="mb-1">
      <dt class="inline-block">Publisher</dt>
      <dd class="inline-block">{{- . -}}</dd>
    </div>
  {{ end }}

  {{ with .Params.date }}
    <div class="mb-1">
      <dt class="inline-block">Publication Date</dt>
      <dd class="inline-block">{{ .Format "January 2, 2006" }}</dd>
    </div>
  {{ end }}

  {{ with .Params.editions_isbn }}
    {{ range $binding, $isbn := . }}
      {{ with $isbn }}
        <div class="mb-1">
          <dt class="inline-block">
            {{- $binding -}}
          </dt>
          <dd class="inline-block">
            {{- . -}}
          </dd>
        </div>
      {{ end }}
    {{ end }}
  {{ end }}
  </dl>
